* {
  color: #b7b7b7;
  //font-family: $body-font-f;
  font-weight: 400;
  font-size: 16px;
}
a {
  text-decoration: none;
  font-family: 'Slabo 27px', serif;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, q {
  font-family: 'Anonymous Pro', monospace;
}