* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px; }

html, body {
  height: 100%;
  min-height: 100%; }

body {
  position: relative;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  display: inline-block; }

h2 {
  display: block;
  margin-bottom: 100px; }

* {
  color: #b7b7b7;
  font-weight: 400;
  font-size: 16px; }

body {
  background: #0e1111; }

a {
  text-decoration: none;
  font-family: 'Slabo 27px', serif; }

li {
  list-style-type: none; }

h1, h2, h3, h4, h5, h6, p, q {
  font-family: 'Anonymous Pro', monospace; }

h2 {
  font-size: 36px;
  font-weight: 700; }

#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  #site .site-content {
    flex: 1; }

header {
  position: fixed;
  background: #0e1111;
  width: 100%;
  -webkit-box-shadow: inset 0px -10px 25px -5px rgba(183, 183, 183, 0.31);
  -moz-box-shadow: inset 0px -10px 25px -5px rgba(183, 183, 183, 0.31);
  box-shadow: inset 0px -10px 25px -5px rgba(183, 183, 183, 0.31);
  z-index: 1000000; }
  header .header-flex-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-left: 5%;
    width: 95%; }
    @media screen and (max-width: 735px) {
      header .header-flex-container {
        display: block;
        margin: 0 auto; } }

.logo-and-text-wrapper {
  width: 240px; }
  .logo-and-text-wrapper #brand-logo-link {
    font-size: 0; }
  @media screen and (max-width: 735px) {
    .logo-and-text-wrapper {
      display: none; } }

h1 {
  font-size: 21px;
  font-family: 'Segoe Script', monospace; }

#speciality {
  font-family: "Times New Roman", monospace;
  font-size: 17px; }

#brand-logo-link #brand-logo {
  width: 60px;
  height: 60px;
  float: left; }
  #brand-logo-link #brand-logo::after {
    content: "";
    clear: both;
    display: block; }

@media screen and (max-width: 735px) {
  #main-nav {
    margin: 10px 0; } }
@media screen and (max-width: 465px) {
  #main-nav #main-nav-span {
    display: block;
    margin: 20px auto 10px; } }

#main-nav .main-nav-item {
  margin: 0 5px;
  padding: 10px;
  position: relative;
  transition: all .3s; }
  @media screen and (max-width: 465px) {
    #main-nav .main-nav-item {
      margin: 10px 5px; } }

#main-nav .main-nav-item:hover {
  color: #fff; }

#main-nav .main-nav-item::after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #7ccc10;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all .3s; }

#main-nav .main-nav-item:hover::after {
  opacity: 1; }
  @media screen and (max-width: 465px) {
    #main-nav .main-nav-item:hover::after {
      opacity: 0; } }

#main-nav .main-nav-item .active::after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #7ccc10;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all .3s; }

.container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 65px 0; }
  @media screen and (max-width: 465px) {
    .container {
      padding: 80px 0; } }

footer {
  background: #0e1111;
  width: 100%;
  -webkit-box-shadow: inset 0 10px 25px 5px rgba(45, 45, 45, 0.31);
  -moz-box-shadow: inset 0 10px 25px 5px rgba(45, 45, 45, 0.31);
  box-shadow: inset 0 10px 25px 5px rgba(45, 45, 45, 0.31); }
  footer #footer-social-nav {
    margin-bottom: 20px; }

#footer-social-nav .social-nav-link {
  padding: 5px;
  margin: 5px; }

.fa-facebook-square {
  transition: all .3s; }
  .fa-facebook-square:hover {
    color: #4267b2; }

.fa-linkedin {
  transition: all .3s; }
  .fa-linkedin:hover {
    color: #0077b5; }

.fa-github-square {
  transition: all .3s; }
  .fa-github-square:hover {
    color: #fff; }

#hero {
  background: #2d2d2d;
  position: relative;
  width: 100%;
  height: 100vh; }
  #hero .quote-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; }
    @media screen and (max-width: 510px) {
      #hero .quote-wrapper {
        width: 260px; } }
  #hero:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%; }
  #hero:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%; }

.quote-wrapper #quote {
  font-size: 48px;
  padding-bottom: 10px; }
  @media screen and (max-width: 510px) {
    .quote-wrapper #quote {
      font-size: 24px; } }

.quote-wrapper #quote-author {
  font-size: 24px;
  text-align: right; }
  @media screen and (max-width: 510px) {
    .quote-wrapper #quote-author {
      font-size: 12px; } }

#portfolio .tbc {
  width: 500px;
  margin: 20px auto 100px; }
  @media screen and (max-width: 505px) {
    #portfolio .tbc {
      width: 310px; } }
  @media screen and (max-width: 310px) {
    #portfolio .tbc {
      width: 190px;
      font-size: 15px; } }

#forum-link {
  transition: all .3s;
  cursor: pointer; }
  #forum-link:hover {
    color: #9d6d4e; }

@media screen and (max-width: 310px) {
  #tbc-br {
    display: none; } }

#about {
  background: #2d2d2d; }
  #about #about-me {
    margin-bottom: 50px; }
  #about #abilities {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px; }
  #about b {
    font-size: 20px; }
  #about #sass {
    height: 30px;
    width: 40px; }
  #about #bootstrap, #about #html, #about #js, #about #github, #about #vue, #about #react {
    height: 30px;
    width: 30px; }
  #about #mongodb, #about #nodejs, #about #angular {
    height: 30px;
    width: 27px; }
  #about #mean {
    height: 30px;
    width: 78px; }
  #about #mongoose {
    height: 30px;
    width: 145px; }
  #about .abilities-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-right: 47px; }
    @media screen and (max-width: 328px) {
      #about .abilities-wrapper {
        padding-right: 40px; } }

.i-can-do-wrapper {
  margin: 0; }

.form-container {
  width: 550px;
  margin: 0 auto; }
  @media screen and (max-width: 555px) {
    .form-container {
      width: 270px; } }
  .form-container span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 20px; }
  .form-container button {
    width: 260px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: black;
    transition: all .3s; }
    .form-container button:hover {
      background: #7ccc10;
      color: #fff; }

.form-input {
  width: 260px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 2px 5px;
  color: black; }
  @media screen and (max-width: 555px) {
    .form-input {
      width: 130px; } }

textarea {
  width: 550px;
  height: 165px;
  border: none;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
  padding: 5px;
  color: black; }
  @media screen and (max-width: 555px) {
    textarea {
      width: 270px; } }

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px; }

#about-work {
  position: relative;
  margin-bottom: 20px; }
  #about-work:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 1px;
    background: #b7b7b7; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

/*# sourceMappingURL=style.css.map */
