<header>
    <div class="header-flex-container">
        <div class="logo-and-text-wrapper ">
            <a id="brand-logo-link" href="/"><img id="brand-logo" src="./img/brand-logo.png" alt="Brand logo"></a>
            <h1>Antanas Stanys</h1>
            <p id="speciality">Front-end developer</p>
        </div>
        <nav id="main-nav">
            <a class="main-nav-item" data-ui-sref="/en">Home</a>
            <a id="language-link" data-ui-sref="forum"><img id="language-flag" src="./img/Lithuania-Flag-icon.png" alt="LTU Flag"></a>
        </nav>
</div>
</header>
<div class="site-content">
    <div class="container">
        <h2>Forum</h2>

        <h3>About work</h3>


        <p id="about-work">Advanced JavaScript course final work description:</p>
        <ul id="about-work-list">
            <li class="about-work-item">Possibility to register and login.</li>
            <li class="about-work-item">User will be able to create new threads and posts.</li>
            <li class="about-work-item">Website's administrator will be able to delete threads and users.</li>
        </ul>

        <h3>Used technologies:</h3>

        <ul>
            <li><img id="html" src="./img/HTML5_Badge_256.png" alt="HTML5 logo"></li>
            <li><img id="css" src="./img/css3.png" alt="css3 logo"></li>
            <li><img id="bootstrap" src="./img/Bootstrap.png" alt="Bootstrap logo"></li>
            <li><img id="github" src="./img/github.png" alt="GitHub logo"></li>
            <li><img id="mean" src="./img/mean.png" alt="MEAN logo"></li>
        </ul>

        <a class="github-link" href="https://github.com/DigitalHawk1/Forum">GitHub link.</a>
    </div>
</div>