<header>
    <div class="header-flex-container">
        <div class="logo-and-text-wrapper ">
            <a id="brand-logo-link" ng-click="scrollTo('hero')"><img id="brand-logo" src="./img/brand-logo.png"
                                                                     alt="Brand logo"></a>
            <h1>Antanas Stanys</h1>
            <p id="speciality">Front-end developer</p>
        </div>
        <nav id="main-nav">
            <a class="main-nav-item" href="#hero">Home</a>
            <a class="main-nav-item" href="#portfolio">Portfolio</a>
            <span id="main-nav-span">
                <a class="main-nav-item" href="#about">About me</a>
                <a class="main-nav-item" href="#contacts">Write to me</a>
            </span>
            <a id="language-link" data-ui-sref="main"><img id="language-flag" src="./img/Lithuania-Flag-icon.png"
                                                           alt="LTU Flag"></a>
        </nav>

    </div>
</header>
<div class="site-content">
    <section id="hero">
        <div class="quote-wrapper">
            <q id="quote">Talk is cheap. Show me the code.</q>
            <p id="quote-author">- Linus Torvalds</p>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <h2>Portfolio</h2>

            <p class="work">At this moment I'm working on my final work in advanced Javascript course.
                <a class="works-link" data-ui-sref="forum-en">More about work.</a>
            </p>

            <a class="works-link" data-ui-sref="portfolio-en">More about portfolio.</a>

            <p class="tbc">To be continued...</p>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <h2>About me</h2>

            <p id="about-me">
                I am studying web development at Klaipėda Baltic Talents academy. At this moment I am focused on
                front-end development. But in the future I want to become a full-stack web developer.
            </p>


            <h3 id="skills">My skills</h3>
            <div class="skills-wrapper">
                <div class="i-can-do-wrapper">

                    <ul>
                        <li><b>I can use</b></li>
                        <li><br></li>
                        <li><img id="html" src="./img/HTML5_Badge_256.png" alt=""></li>
                        <li><img id="sass" src="./img/sass-logo-new.png" alt=""></li>
                        <li><img id="js" src="./img/js.png" alt=""></li>
                        <li><img id="bootstrap" src="./img/Bootstrap.png" alt="Bootstrap icon"></li>
                        <li><img id="github" src="./img/github.png" alt=""></li>
                        <li><img id="mean" src="./img/mean.png" alt="MEAN logo"></li>
                    </ul>
                </div>
                <div class="i-want-to-learn">

                    <ul>
                        <li><b>Want to learn</b></li>
                        <li><br></li>
                        <li><img id="vue" src="./img/vuejs.png" alt=""></li>
                        <li><img id="react" src="./img/react.png" alt=""></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="contacts">
        <div class="container">
            <h2>Write me</h2>

            <div class="form-container">
                <form action="https://formspree.io/antanaslstanys@gmail.com"
                      method="POST">
                    <span>
                        <input class="form-input" type="text" name="name" placeholder="Your name" required>
                        <input class="form-input" type="email" name="_replyto" placeholder="Email" required>
                    </span>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Your message" required></textarea>
                    <input id="send" type="submit" value="Send">
                </form>
            </div>
        </div>
    </section>
</div>