<header>
    <div class="header-flex-container">
        <div class="logo-and-text-wrapper ">
            <a id="brand-logo-link" href="/"><img id="brand-logo" src="./img/brand-logo.png" alt="Brand logo"></a>
            <h1>Antanas Stanys</h1>
            <p id="speciality">Front-end developer</p>
        </div>
        <nav id="main-nav">
            <a class="main-nav-item" data-ui-sref="/en">Home</a>
            <a id="language-link" data-ui-sref="portfolio"><img id="language-flag" src="./img/Lithuania-Flag-icon.png" alt="LTU Flag"></a>
        </nav>
    </div>
</header>
<div class="site-content">
    <div class="container">
        <h2>Portfolio</h2>

        <a class="github-link" href="https://github.com/DigitalHawk1/portfolio">GitHub link.</a>

        <h3>About work.</h3>

        <p id="about-work">All of my best works are in one place.</p>

        <h3>Used technologies:</h3>

        <ul>
            <li><img id="html" src="./img/HTML5_Badge_256.png" alt="HTML5 logo"></li>
            <li><img id="sass" src="./img/sass-logo-new.png" alt="sass logo"></li>
            <li><img id="angular" src="./img/AngularJS-Shield.svg" alt="AngularJS logo"></li>
            <li><img id="github" src="./img/github.png" alt="GitHub logo"></li>
        </ul>
    </div>
</div>