<header>
    <div class="header-flex-container">
        <div class="logo-and-text-wrapper ">
            <a id="brand-logo-link" href="/"><img id="brand-logo" src="./img/brand-logo.png" alt="Brand logo"></a>
            <h1>Antanas Stanys</h1>
            <p id="speciality">Full-stack web programuotojas</p>
        </div>
        <nav id="main-nav">
            <a class="main-nav-item" href="/">Pagrindinis</a>
            <a id="language-link" data-ui-sref="forum-en"><img id="language-flag" src="./img/United-Kingdom-Flag.png" alt="UK Flag"></a>
        </nav>
    </div>
</header>
<div class="site-content">
    <div class="container">
        <h2>Forumas</h2>

        <div class="works-img-wrapper">
            <img class="works-img" src="./img/forumas.png" alt="Forumas photo">
            <img class="works-img" src="./img/forumas2.png" alt="Forumas photo">
            <img class="works-img" src="./img/forumas3.png" alt="Forumas photo">
            <img class="works-img" src="./img/forumas4.png" alt="Forumas photo">
            <img class="works-img" src="./img/forumas5.png" alt="Forumas photo">
        </div>

        <h3>Trumpai apie darbą.</h3>

        <p id="about-work">Baigiamojo JavaScript kurso pažengusiems darbo aprašymas:</p>
        <ul id="about-work-list">
            <li class="about-work-item">Galimybė užsiregistruoti ir prisijungti.</li>
            <li class="about-work-item">Vartotojas galės kurti ir redaguoti temas, pranešimus.</li>
            <li class="about-work-item">Svetainė turės administratorių, kuris galės kurti, ištrinti ir redaguoti temas ir pranešimus</li>
        </ul>


        <h3>Naudojamos technologijos:</h3>

        <ul>
            <li><img class="square" id="html" src="./img/HTML5_Badge_256.png" alt="HTML5 logo" title="HTML5"></li>
            <li><img class="square" id="css" src="./img/css3.png" alt="CSS3 logo" title="CSS3"></li>
            <li><img class="square" id="bootstrap" src="./img/Bootstrap.png" alt="Bootstrap logo" title="Bootstrap"></li>
            <li><img class="square" id="github" src="./img/github.png" alt="GitHub logo" title="GitHub"></li>
            <li><img id="mean" src="./img/mean.png" alt="MEAN stack logo" title="MEAN stack"></li>
        </ul>
        <a class="github-link" href="https://github.com/DigitalHawk1/Forum">GitHub nuoroda</a>
    </div>
</div>