<header>
    <div class="header-flex-container">
        <div class="logo-and-text-wrapper ">
            <a id="brand-logo-link" href="/"><img id="brand-logo" src="./img/brand-logo.png" alt="Brand logo"></a>
            <h1>Antanas Stanys</h1>
            <p id="speciality">Front-end programuotojas</p>
        </div>
        <nav id="main-nav">
            <a class="main-nav-item" href="/">Pagrindinis</a>
            <a id="language-link" data-ui-sref="forum-en"><img id="language-flag" src="./img/United-Kingdom-Flag.png" alt="UK Flag"></a>
        </nav>
    </div>
</header>
<div class="site-content">
    <div class="container">
        <h2>Forumas</h2>

        <h3>Trumpai apie darbą.</h3>

        <p id="about-work">Baigiamojo JavaScript kurso pažengusiems darbo aprašymas:</p>
        <ul id="about-work-list">
            <li class="about-work-item">Galimybė užsiregistruoti ir prisijungti.</li>
            <li class="about-work-item">Vartotojas galės kurti naujas temas, pranešimmus.</li>
            <li class="about-work-item">Svetainė turės administratorių, kuris galės ištrinti temas, vartotojus. Kurti temas ir pranešimus</li>
        </ul>


        <h3>Naudojamos technologijos:</h3>

        <ul>
            <li><img id="html" src="./img/HTML5_Badge_256.png" alt="HTML5 logo"></li>
            <li><img id="css" src="./img/css3.png" alt="css3 logo"></li>
            <li><img id="bootstrap" src="./img/Bootstrap.png" alt="Bootstrap logo"></li>
            <li><img id="github" src="./img/github.png" alt="GitHub logo"></li>
            <li><img id="mean" src="./img/mean.png" alt="MEAN logo"></li>
        </ul>

        <a class="github-link" href="https://github.com/DigitalHawk1/Forum">GitHub nuoroda</a>
    </div>
</div>