<header>
    <div class="header-flex-container">
        <div class="logo-and-text-wrapper ">
            <a id="brand-logo-link" href="/"<img id="brand-logo" src="./img/brand-logo.png" alt="Brand logo"></a>
            <h1>Antanas Stanys</h1>
            <p id="speciality">Front-end programuotojas</p>
        </div>
        <nav id="main-nav">
            <a class="main-nav-item" href="/">Pagrindinis</a>
        </nav>
    </div>
</header>
<div class="site-content">
    <div class="container">
        <h2>Forumas</h2>

        <a class="github-link" href="https://github.com/DigitalHawk1/Forum">GitHub nuoroda.</a>

        <h3>Trumpai apie darbą</h3>

        <p id="about-work">Baigiamasis advanced JavaScript kurso darbas. Bus galimybė užsiregistruoti ir prisijungti.
            Prisijungus galės sukurti naujas temas, pranešimus. Taip pat bus svetainės administratorius, kuris galės
            ištrinti temas, vartotojus, kurti temas bei pranešimus.</p>

        <h3>Naudojamos technologijos:</h3>

        <ul>
            <li><img id="html" src="./img/HTML5_Badge_256.png" alt="HTML5 logo"></li>
            <li><img id="css" src="./img/css3.png" alt="css3 logo"></li>
            <li><img id="bootstrap" src="./img/Bootstrap.png" alt="Bootstrap logo"></li>
            <li><img id="github" src="./img/github.png" alt="GitHub logo"></li>
            <li><img id="mean" src="./img/mean.png" alt="MEAN logo"></li>
        </ul>
    </div>
</div>