<section id="hero">
    <div class="quote-wrapper">
        <q id="quote">Talk is cheap. Show me the code.</q>
        <p id="quote-author">- Linus Torvalds</p>
    </div>
</section>

<section id="portfolio">
    <div class="container">
        <h2>Portfolio</h2>

        <p class="tbc">Šiuo metu ruošiu Advanced Javascript'o kurso baigiamąjį darbą.
             <a id="forum-link" data-ui-sref="works-page">Daugiau apie darbą.</a>
        </p>

        <p class="tbc">Laukite tęsinio...</p>
    </div>
</section>
<section id="about">
    <div class="container">
        <h2>Trumpai apie mane</h2>

        <p id="about-me">
            Šiuo metu mokausi Klaipėdoje, Baltic Talents akademijoje, metiniuose web programavimo kursuose. Kol kas
            labiausiai koncentruojuosi į front-endą, tačiau neatmetu galimybės, ateityje, įgijus patirties tapti
            <br>full-stack web programuotoju. Esu labai motyvuotas ir pasiryžęs mokytis.
        </p>


        <h3 id="abilities">Mano sugebėjimai</h3>
        <div class="abilities-wrapper">
            <div class="i-can-do-wrapper">

                <ul>
                    <li><b>Moku</b></li>
                    <li><br></li>
                    <li><img id="html" src="./img/HTML5_Badge_256.png" alt=""></li>
                    <li><img id="sass" src="./img/sass-logo-new.png" alt=""></li>
                    <li><img id="js" src="./img/js.png" alt=""></li>
                    <li><img id="bootstrap" src="./img/Bootstrap.png" alt="Bootstrap icon"></li>
                    <li><img id="github" src="./img/github.png" alt=""></li>
                    <li><img id="angular" src="./img/AngularJS-Shield.svg" alt=""></li>
                    <li><img id="nodejs" src="./img/nodejs.png" alt=""></li>
                    <li><img id="mongodb" src="./img/mongodb.png" alt="MongoDB icon"></li>
                </ul>
            </div>
            <div class="i-want-to-learn">

                <ul>
                    <li><b>Noriu išmokti</b></li>
                    <li><br></li>
                    <li><img id="vue" src="./img/vuejs.png" alt=""></li>
                    <li><img id="react" src="./img/react.png" alt=""></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="contacts">
    <div class="container">
        <h2>Parašykite man</h2>

        <div class="form-container">
            <form action="">
                    <span>
                        <input class="form-input" type="text" name="name" placeholder="Jūsų vardas" required>
                        <input class="form-input" type="email" name="email" placeholder="El. paštas" required>
                    </span>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Jūsų žinutė" required></textarea>
                <button>Siųsti</button>
            </form>
        </div>
    </div>
</section>