<header>
    <div class="header-flex-container">
        <div class="logo-and-text-wrapper ">
            <a id="brand-logo-link" href="#hero"><img id="brand-logo" src="./img/brand-logo.png" alt="Brand logo"></a>
            <h1>Antanas Stanys</h1>
            <p id="speciality">Front-end programuotojas</p>
        </div>
        <nav id="main-nav">
            <a class="main-nav-item" href="#hero">Pagrindinis</a>
            <a class="main-nav-item" href="#portfolio">Portfolio</a>
            <span id="main-nav-span">
                <a class="main-nav-item" href="#about">Apie mane</a>
                <a class="main-nav-item" href="#contacts">Parašykite man</a>
            </span>
            <a id="language-link" data-ui-sref="main-en"><img id="language-flag" src="./img/United-Kingdom-Flag.png"
                                                              alt="UK Flag"></a>
        </nav>
    </div>
</header>
<div class="site-content">
    <section id="hero">
        <div class="quote-wrapper">
            <q id="quote">Talk is cheap. Show me the code.</q>
            <p id="quote-author">- Linus Torvalds</p>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <h2>Portfolio</h2>
            <div class="portfolio-flex-container">
                <a data-ui-sref="portfolio"><img src="./img/portfolio.png" alt="Portfolio photo" title="Portfolio"></a>

                <a data-ui-sref="acrostia"><img src="./img/acrostia.png" alt="Acrostia photo" title="Acrostia"></a>

                <a data-ui-sref="forum"><img src="./img/forumas.png" alt="Forumas photo" title="Forumas"></a>
            </div>

            <p class="tbc">Laukite tęsinio...</p>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <h2>Trumpai apie mane</h2>

            <p id="about-me">
                Ką tik baigiau Baltic Talents akademijos metinius web programavimo kursus. Į programavimą pakliuvau
                netikėtai ir po ilgų savęs paieškų pagaliau jaučiuosi atradęs savo vietą. Esu labai motyvuotas ir
                pasiryžęs mokytis.
            </p>


            <h3 id="skills">Mano sugebėjimai</h3>
            <div class="skills-wrapper">
                <div class="i-can-do-wrapper">

                    <ul>
                        <li><b>Moku</b></li>
                        <li><br></li>
                        <li><img class="square" id="html" src="./img/HTML5_Badge_256.png" alt="HTML5 logo"
                                 title="HTML5"></li>
                        <li><img id="sass" src="./img/sass-logo-new.png" alt="SASS logo" title="SASS"></li>
                        <li><img class="square" id="js" src="./img/js.png" alt="JS logo" title="JavaScript"></li>
                        <li><img class="square" id="bootstrap" src="./img/Bootstrap.png" alt="Bootstrap logo"
                                 title="Bootstrap"></li>
                        <li><img class="square" id="github" src="./img/github.png" alt="GitHub logo" title="GitHub">
                        </li>
                        <li><img id="mean" src="./img/mean.png" alt="MEAN logo" title="MEAN"></li>
                    </ul>
                </div>
                <div class="i-want-to-learn">

                    <ul>
                        <li><b>Noriu išmokti</b></li>
                        <li><br></li>
                        <li><img class="square" id="vue" src="./img/vuejs.png" alt="VueJS logo" title="VueJS"></li>
                        <li><img class="square" id="react" src="./img/react.png" alt="ReactJS logo" title="ReactJS">
                        </li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="contacts">
        <div class="container">
            <h2>Parašykite man</h2>

            <div class="form-container">
                <form action="https://formspree.io/antanaslstanys@gmail.com"
                      method="POST">
                    <span>
                        <input class="form-input" type="text" name="name" placeholder="Jūsų vardas" required>
                        <input class="form-input" type="email" name="_replyto" placeholder="El. paštas" required>
                    </span>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Jūsų žinutė" required></textarea>
                    <input id="send" type="submit" value="Siųsti">
                </form>
            </div>
        </div>
    </section>
</div>