<header>
    <div class="header-flex-container">
        <div class="logo-and-text-wrapper ">
            <a id="brand-logo-link" href="/"><img id="brand-logo" src="./img/brand-logo.png" alt="Brand logo"></a>
            <h1>Antanas Stanys</h1>
            <p id="speciality">Front-end programuotojas</p>
        </div>
        <nav id="main-nav">
            <a class="main-nav-item" href="/">Pagrindinis</a>
            <a id="language-link" data-ui-sref="portfolio-en"><img id="language-flag" src="./img/United-Kingdom-Flag.png" alt="UK Flag"></a>
        </nav>
    </div>
</header>
<div class="site-content">
    <div class="container">
        <h2>Portfolio</h2>

        <h3>Trumpai apie darbą</h3>

        <p id="about-work">Visi mano geriausi darbai vienoje vietoje.</p>

        <h3>Naudojamos technologijos:</h3>

        <ul>
            <li><img id="html" src="./img/HTML5_Badge_256.png" alt="HTML5 logo"></li>
            <li><img id="sass" src="./img/sass-logo-new.png" alt="sass logo"></li>
            <li><img id="angular" src="./img/AngularJS-Shield.svg" alt="AngularJS logo"></li>
            <li><img id="github" src="./img/github.png" alt="GitHub logo"></li>
        </ul>
        <a class="github-link" href="https://github.com/DigitalHawk1/portfolio">GitHub nuoroda.</a>
    </div>
</div>