<div class="container">
    <h2 data-ng-model="workName">Forumas</h2>

    <h3>Trumpai apie darbą</h3>

    <p id="about-work" data-ng-model="aboutWork">Baigiamasis advanced JavaScript kurso darbas. Bus galimybė
        užsiregistruoti ir prisijungti. Prisijungus galės
        sukurti naujas temas, pranešimus. Taip pat bus svetainės administratorius, kuris galės ištrinti temas,
        vartotojus, kurti temas bei pranešimus.</p>

    <h3>Naudojamos technologijos</h3>

    <ul>
        <li></li>
        <li>dsafsfds</li>
        <li>dfsfds</li>
        <li>fdsdfs</li>
        <li>sdffsd</li>
    </ul>
</div>