header {
  position: fixed;

  background: $MainClr;
  width: 100%;
  -webkit-box-shadow: inset 0px -10px 25px -5px rgba(183, 183, 183, 0.31);
  -moz-box-shadow: inset 0px -10px 25px -5px rgba(183, 183, 183, 0.31);
  box-shadow: inset 0px -10px 25px -5px rgba(183, 183, 183, 0.31);
  z-index: 1000000;

  .header-flex-container {
    @include flex-container(nowrap);
    position: relative;
    padding-left: 5%;
    width: 95%;
    @media screen and (max-width: 735px) {
      display: block;
      margin: 0 auto;
    }
  }
}

.logo-and-text-wrapper {
  width: 240px;
  #brand-logo-link {
    font-size: 0;
  }
  @media screen and (max-width: 735px) {
    display: none;
  }
}

h1 {
  font-size: $h1FZ;
  font-family: 'Segoe Script', monospace;
}

#speciality {
  font-family: "Times New Roman", monospace;
  font-size: 17px;
}

#brand-logo-link #brand-logo {
  width: 60px;
  height: 60px;
  float: left;
  &::after {
    @include after-before;
    clear: both;

  }
}
