header {
  position: fixed;
  background: #0e1111;
  width: 100%;
  -webkit-box-shadow: inset 0px -10px 25px -5px rgba(183, 183, 183, 0.31);
  -moz-box-shadow: inset 0px -10px 25px -5px rgba(183, 183, 183, 0.31);
  box-shadow: inset 0px -10px 25px -5px rgba(183, 183, 183, 0.31);
  z-index: 1000000;

  .header-flex-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-left: 5%;
    width: 95%;
  }
}

.logo-and-text-wrapper {
  width: 240px;

  .logo-text-wrapper {
    position: absolute;
    top: 50%;
    left: 130px;
    transform: translate(0%, -50%);
  }

  #brand-logo-link {
    font-size: 0;

  }
}

.logo-text-wrapper h1 {
  font-size: 24px;
  font-family: 'Segoe Script', monospace;
}

.logo-text-wrapper #speciality {
  font-family: "Times New Roman", monospace;
  font-size: 18px;
}

#brand-logo-link #brand-logo {
  width: 60px;
  height: 60px;
  float: left;

  &::after {
    content: "";
    clear: both;
    display: block;
  }
}