#sass {
  width: 40px;
}
.class {
  width: 30px;
}
#mongodb, #angular {
  width: 27px;
}

#mean {
  width: 78px;
}

#mongoose {
  width: 145px;
}

#bootstrap, #html, #js, #github, #vue, #react, #css,#mongoose, #mean, #mongodb, #angular, #sass {
  height: 30px;
}