#about {
  background: $SecondClr;
  #about-me {
    margin-bottom: 50px;
  }
  #abilities {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  b {
    font-size: 20px;
  }

  .abilities-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-right: 47px;
    @media screen and (max-width: 328px) {
      padding-right: 40px;
    }
  }
}

.i-can-do-wrapper {
  margin: 0;
}

#about-me-br {
  @media screen and (max-width: 310px) {
    display: none;
  }
}