.form-container {
  width: 550px;
  margin: 0 auto;
  span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  button {
    width: 260px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: black;
    transition: all .3s;
    &:hover {
      background: #9d6d4e;
      color: #b7b7b7;
    }
  };
}

.form-input {
  width: 260px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 2px 5px;
  color: black;
}

textarea {
  width: 550px;
  height: 165px;
  border: none;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
  padding: 5px;
  color: black;
}