#portfolio {
  .tbc {
    width: 500px;
    margin: 20px auto 100px;
    @media screen and (max-width: 505px) {
      width: 310px;
    }
    @media screen and (max-width: 310px) {
      width: 190px;
      font-size: 15px;
    }
  }
}

#forum-link {
  transition: all .3s;
  cursor: pointer;
  &:hover {
    color: #9d6d4e;
  }
}

#tbc-br {
  @media screen and (max-width: 310px) {
    display: none;
  }
}