#portfolio {
  #small-blog-picture {
    width: 255px;
    height: 140px;
    margin-bottom: 100px;
  }
  .tbc {
    width: 500px;
    margin: 20px auto 100px;
  }
}

#forum-link {
  transition: all .3s;
  cursor: pointer;
  &:hover {
    color: #9d6d4e;
  }
}