h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: $margin-bottom;
  display: block;
}

#about-work {
  position: relative;
  margin-bottom: $margin-bottom;
}

.github-link {
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  transition: all .3s;
  margin-bottom: $margin-bottom;
  &:hover {
    color: $FifthColor
  }
}
#about-work-list {
  text-align: left;
  position: relative;
  margin-bottom: 50px;
  padding-left: 290px;
  @media screen and (max-width: 940px) {
    padding-left: 230px;
  }
  @media screen and (max-width: 860px) {
    padding-left: 200px;
  }
  @media screen and (max-width: 790px) {
    padding-left: 160px;
  }
  @media screen and (max-width: 700px) {
    padding-left: 120px;
  }
  @media screen and (max-width: 620px) {
    padding-left: 75px;
  }

  &:after {
    @include after-before;
    bottom: -40px;
    left: 2px;
    right: 2px;
    height: 1px;
    background: $ThirdClr;
  }
  .about-work-item {
    list-style: circle;
  }
}