* {
  color: $ThirdClr;
  font-weight: 400;
}

body {
  background: $MainClr;
}

a {
  text-decoration: none;
  font-family: 'Slabo 27px', serif;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, q {
  font-family: 'Anonymous Pro', monospace;
}

h2 {
  font-size: $h2FZ;
  font-weight: 700;
}