* {
  box-sizing: border-box;
  margin: 0;
  font-size: $TextFZ
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
}

h2 {
  display: block;
  margin-bottom: 100px;
}

a {
  cursor: pointer;
}

ul {
  padding-left: 0;
}