// Colors

$MainClr: #0e1111;
$SecondClr: #2d2d2d;
$ThirdClr: #b7b7b7;
$FourthColor: #7ccc10;
$FifthColor: #9d6d4e;

// Sizes

$TextFZ: 16px;
$h1FZ: 21px;
$h2FZ: 36px;
$h3FZ: 20px;
$margin-bottom: 20px;
